:root{
    --primary-color:rgba(11,78,179);
}


*,
*::before,
*::after{
    box-sizing: border-box;
}
.text-center{
    
    margin-left: 200px;
}
body{
    margin: 0;
    display: grid;
    place-items: center;
    min-height: 100vh;
   
    background-color: skyblue;
}
.form-data{
    border:10px solid white;
    border-radius: 20px;
    padding: 1.5rem;
    margin: 0 auto;
    min-width: 800px;
  

}
 input{
    
     width:50%;
     padding: 10px 10px;
     margin: 15px 0;
     box-sizing: border-box;
     display: block;
     border:1px solid skyblue;
     margin-bottom: 1.5px;
 }
 
 .tab{
     
     margin: 20px;
 }

 
 .btn:hover{
    box-shadow:0 0 0 2px #fff,0 0 0 3px var(--primary-color); 
 
 }
 .btns-group{
     
     text-align: center;
     width: 100%;
     margin: 25px auto;
    
 }
.width-50{
   width: 5%; 
}
 
 .form-step{
     display: none;
 }
 .form-step-active{
     display: block;
 }
 .btn-submit{
   width:50px;
   place-items: center;
   margin: auto;
   border:5px solid teal;
   color: teal;
   height: auto;
  
 }
 .btn-submit:hover{
    box-shadow:0 0 0 2px #fff,0 0 0 3px var(--primary-color); 

 }
#others{ 
    left:750px;
}
#work{ 
    left:750px;
}
#education{ 
    left:750px;
}
#team{ 
    left:750px;
}
label{
    font-size: 20px;
    font-weight: bold;
    
}

.container{
    width: 560px;
    height: 680px;
    margin: 8% auto;
    background: #fff;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.container form{
    top: 50px;
    left: 40px;
    width: 280px;
    position: absolute;
    transition: 0.5s;
}
    form button{
        background-color:#34ebd8;
        border-radius: 30px;
        outline: none;
        width: 110px;
        height: 35px;
        cursor: pointer;
    }

 #checkbox{
     width: 5%;
 }   
